  <!DOCTYPE html>
  <html>
    <head>
      <title>Simple Shopping Cart with Tailwind</title>
      <link
        href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
        rel="stylesheet"
      />
      <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    </head>

    <body class="bg-gray-100">
      <div id="app" class="container mx-auto p-8">
        <div class="bg-white">
          <div
            class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
          >
            <h2 class="text-2xl font-bold tracking-tight text-gray-900">
              Liste de produit
            </h2>
            <div
              class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
            >
              <div
                v-for="product in products"
                :key="product.id"
                class="group relative"
              >
                <div
                  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
                >
                  <img
                    :src="product.imageSrc"
                    :alt="product.imageAlt"
                    class="h-full w-full object-cover object-center lg:h-full lg:w-full"
                  />
                </div>
                <div class="mt-4 flex justify-between">
                  <div>
                    <h3 class="text-sm text-gray-700">
                      <a> {{ product.name }} </a>
                    </h3>
                    <p class="mt-1 text-sm text-gray-500">{{ product.color }}</p>
                  </div>
                  <p class="text-sm font-medium text-gray-900">
                    {{ product.price }}
                  </p>
                </div>
                <button
                @click="addToCart(product)"
                class="mt-6 block w-full bg-gray-800 border border-transparent rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-700 cursor-pointer"
              >
                Ajouter au panier
              </button>
              </div>
            </div>
            <h2 class="text-2xl font-bold tracking-tight text-gray-900 mt-10">
              Panier
            </h2>
            <div v-if="cart.length === 0" class="text-xl font-medium text-center text-gray-700 mt-4">
              Panier vide
            </div>
            <div v-else class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
              <div v-for="item in cart" :key="item.id" class="relative">
                <div
                  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
                >
                  <img
                    :src="item.imageSrc"
                    :alt="item.imageAlt"
                    class="h-full w-full object-cover object-center lg:h-full lg:w-full"
                  />
                </div>
                <div class="mt-4 flex justify-between">
                  <div>
                    <h3 class="text-sm text-gray-700">{{ item.name }}</h3>
                    <p class="mt-1 text-sm text-gray-500">{{ item.color }}</p>
                  </div>
                  <p class="text-sm font-medium text-gray-900">
                    {{ item.price }} x {{ item.quantity }}
                  </p>
                </div>
                <div class="flex justify-center">
                  <button @click="decreaseQuantity(item)" class="px-3 py-1 rounded-md bg-red-500 text-white hover:bg-red-600">-</button>
                  <span class="px-4">{{ item.quantity }}</span>
                  <button @click="increaseQuantity(item)" class="px-3 py-1 bg-green-500 rounded-md text-white hover:bg-green-600">+</button>
              </div>
              <button @click="removeFromCart(item)" class="mt-6 block w-full bg-red-500 border border-transparent rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-red-600 cursor-pointer">
                  Supprimer
              </button>
              </div>
            </div>
            <h2 class="text-2xl font-bold text-center tracking-tight text-gray-900 mt-10">
              Total
            </h2>
            <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10">
                <p class="text-2xl font-medium  text-center text-gray-900">
                  {{ totalPrice }} €
                </p>
          </div>
        </div>
      </div>

      <script type="module">
        const app = Vue.createApp({
          data() {
            return {
              cart: JSON.parse(localStorage.getItem("cart")) || [],
              products: [
                {
                  id: 1,
                  name: "Basic Tee Black",
                  href: "#",
                  imageSrc:
                    "https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg",
                  imageAlt: "Front of men's Basic Tee in black.",
                  price: "35€",
                  color: "Black",
                },
                {
                  id: 2,
                  name: "Basic Tee Cream",
                  href: "#",
                  imageSrc:
                    "https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-02.jpg",
                  imageAlt: "Front of men's Basic Tee in cream.",
                  price: "35€",
                  color: "Cream",
                },
                {
                  id: 3,
                  name: "Basic Tee Gray",
                  href: "#",
                  imageSrc:
                    "https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-03.jpg",
                  imageAlt: "Front of men's Basic Tee in gray.",
                  price: "29.99€",
                  color: "Gray",
                },
                {
                  id: 4,
                  name: "Basic Tee Pink",
                  href: "#",
                  imageSrc:
                    "https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-04.jpg",
                  imageAlt: "Front of woman's Basic Tee in pink.",
                  price: "19.99€",
                  color: "Pink",
                },
              ],
            };
          },
          computed: {
            totalPrice() {
              return this.cart.reduce((acc, item) =>{
                const price = item.price.replace("€", "");
                return acc + price * item.quantity;
              }, 0);
            },
          },
          methods: {
            addToCart(selectedProduct) {
              let productInCart = this.cart.find(
                (product) => product.id === selectedProduct.id
              );
              if (productInCart) {
                productInCart.quantity += 1;
              } else {
                this.cart.push({
                  ...selectedProduct,
                  quantity: 1,
                });
              }
              
            },
            removeFromCart(itemToRemove) {
              const index = this.cart.findIndex(item => item.id === itemToRemove.id);
              if (index > -1) {
                this.cart.splice(index, 1);
              }
            },
            increaseQuantity(itemToUpdate) {
              const itemInCart = this.cart.find(item => item.id === itemToUpdate.id);
              if (itemInCart) {
                itemInCart.quantity += 1;
              }
            },
            
            decreaseQuantity(itemToUpdate) {
              const itemInCart = this.cart.find(item => item.id === itemToUpdate.id);
              if (itemInCart && itemInCart.quantity > 1) {
                  itemInCart.quantity -= 1;
              } else if (itemInCart) {
                  this.removeFromCart(itemToUpdate);
              }
            },
          },
          watch: {
            cart: {
              handler(newValue) {
                localStorage.setItem("cart", JSON.stringify(newValue));
              },
              deep: true,
            },
          },
        });
        app.mount("#app");
        console.log(JSON.parse(localStorage.getItem("cart")));
      </script>
    </body>
  </html>
